body {
    background-color: #3A3845;
    font-family: 'Courier New', Courier, monospace;
}

.title-img {
   display: flex; 
   align-items: center;
}


.recipe-name {
    color: #88eb0f;
    font-size: 8vw;
    text-align: left;
    margin-right: 10px;
    position: relative;

}

.food-img {
    height: 40vw;
    width: auto;
    border-radius: 25%;

}

.recipe-name-mirror {
    color: transparent;
    font-size: 5vw;
    text-align: left;
    margin-right: 10px;
    position: relative;

}

.recipe-name-mirror::after {
    content: attr(data-title);
    color: red;
    font-size: 8vw;
    transform: scaleX(-1);
    position: absolute;
    right: -10px;
    top: 0;
  }


