body {
    background-color: #3A3845;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    color: #88eb0f;
    font-size: 4vw;
}

.list {
    text-align: center;
    list-style: none;
}

.recipe-link {
    text-decoration: none;
    color: #E59934;
    font-size: 2vw;
}

.recipe-link:hover {
    color: #a50feb;
}
